<div class="root">
  <div style="margin-right: 20px; max-width: 800px; flex: 1">
    <label for="start">Coordonnées du point de départ : </label>
    <input id="start" type="text" [formControl]="start" [attr.disabled]="true">
    <label for="end"> Coordonnées du point d'arrivé : </label>
    <input id="end" type="text" [formControl]="end" [attr.disabled]="true"><br />
    <label for="duration">Durée : </label>
    <input id="duration" type="text" [formControl]="duration" [attr.disabled]="true">
    <label for="distance"> Distance : </label>
    <input id="distance" type="text" [formControl]="distance" [attr.disabled]="true"><br />

    <div class="map-container">
      <div class="map-frame">
        <div id="map"></div>
      </div>
    </div>
  </div>
  <div id="steps">
  </div>
</div>